doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/awesomplete/awesomplete.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.min.js")
        script var name ="!{user._id}"; 
    body
        .row(style="margin-top:5%")
            .large-6.medium-6.columns.large-offset-3.medium-offset-3
                h3 Hi #{name}, join/create a channel
                form
                    input(type="hidden",name="username",value="#{name}")
                    .row
                        .large-12.columns
                            .row.collapse
                                .small-10.columns
                                    input#channel(type="text",
                                          placeholder="Channel...",
                                          name="channel")
                                .small-2.columns(style="text-align:center")
                                    button.postfix Join
                hr
                h4  Or choose from a previously joined channel
                ul.side-nav
                    - example_channels = ["Channel 1", "General","Test"]
                    each channel in example_channels
                        li: h6: a= channel
        script(src="/awesomplete/awesomplete.min.js")
        script.
            var channel_input = document.getElementById("channel");
            new Awesomplete(channel_input,{
                list : ["General","Random","Test","Test2"]
                });


