doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/admin.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/myassets/js/admin.js")
        script(src="/socket.io-client/socket.io.js")
        script.
            var channels = !{JSON.stringify(channels)};
            var survey_contents = !{JSON.stringify(survey_contents)};
            var get_invite_link = function(invite){
                var base = location.protocol + '//' + location.host + '/invite';
                return base + '?i=' + encodeURIComponent(invite);
            };
            var finished_array = [];
            var socket_url = "!{socket_url}";
            channels.forEach(channel => {
                var finished_cnt = 0;
                channel.participants.forEach(participant => {
                    if(participant.postsurvey == true)
                        finished_cnt += 1;
                });
                finished_array.push(finished_cnt);
            });
            
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h2 Administration
        .row
            br
        .row
            h3(style="display: inline") Search Survey Code
            p
            input(type='text' placeholder='Survey Code' style='width:80%;float:left' name='survey-code') 
            button#search-survey-code.input-group-button.button.tiny(style='float:left;left:5%') Search
        .row
            p#user-info(style="white-space:pre")

        .row
            br
        .row
            h3(style="display: inline") Group Details
            i.fa.fa-minus-circle.fa-2x.sub-icon(id='sub-group')
            i.fa.fa-plus-circle.fa-2x.add-icon(id='add-group')
            p
            div(style="max-height:600px;overflow-y:auto")
              table.large-12.medium-12.small-12(style='table-layout: fixed')
                thead
                  tr
                    th(width='50' style='text-align: center') 
                    th(width='70' style='text-align: center') No.
                    th(width='120' style='text-align: center') Time
                    th(width='70' style='text-align: center') Tester
                    th(width='130' style='text-align: center') Type
                    th(width='70' style='text-align: center') Tree
                    th(width='100' style='text-align: center') Status
                    th(width='70' style='text-align: center') Finished
                    th(style='text-align: center') Create
                    th(width='110' style='text-align: center') Results
                tbody#group-details
                  each channel, index in channels
                    tr(channel_id="#{channel._id}")
                      td(style='text-align: center') 
                        i.fa.fa-times.fa-lg
                      td(style='text-align: center') #{index+1}
                      td(style='text-align: center') #{channel.started_at}
                      td(style='text-align: center') #{channel.users_number}
                      td(style='text-align: center') #{channel.chat_type}
                      td(style='text-align: center') #{channel.tree_views}
                      script.
                          if("#{channel.type}" == "experiment")
                              $('tbody#group-details > tr:last').append('<td id="status" style="text-align: center">Not started</td>')
                          else if("#{channel.type}" == "in progress")
                              $('tbody#group-details > tr:last').append('<td id="status" style="text-align: center">Ongoing</td>')
                          else
                              $('tbody#group-details > tr:last').append('<td id="status" style="text-align: center">Finished (#{channel.duration} min)</td>')
                          
                          $('tbody#group-details > tr:last').append('<td id="postsurvey" style="text-align: center">'+finished_array[#{index}]+'</td>')
                          $('tbody#group-details > tr:last').append('<td style="overflow: auto">'+get_invite_link('#{channel.invite_link}')+'</td>')
                          $('tbody#group-details > tr:last').append('<td><button style="left: 4%" class="tiny"><a href="'+get_download_link('#{channel._id}')+'" target="_blank">Download</a></button></td>')
        .row
            br
        .row
            h3(style="display: inline") Survey Questions
            i.fa.fa-minus-circle.fa-2x.sub-icon(id='sub-question')
            i.fa.fa-plus-circle.fa-2x.add-icon(id='add-question')
            div.large-3(id="survey-page")
              select#seleted-page
                option(value='0') Select page:
                option(value='1' selected="selected") Consent
                option(value='4') Instructions
                //option(value='2') Pre Survey
                //option(value='3') Post Survey
            p
            div#survey
              p#consent_content(contenteditable="true" style="border:1px solid lightgray;padding:10px") #{survey_contents.consent}
            button#save-survey Save
