doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/admin.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/myassets/js/consent.js")
        script.
            var consent = "!{consent}";
            var user = !{JSON.stringify(user)};
            var password = !{JSON.stringify(password)};
            var checked = false;
            var invite_link = "!{invite_link}"
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h1 Welcome to EHIMS
        .row
            br
            p For participating our experiments, please remember your unique username and password. 
            h5(style='white-space: pre') Username: #{user}
            h5(style='white-space: pre') Password: #{password}
            p(style='display:inline') In case of logging off accidently, you can click the plus button
                img(src="/myassets/img/rsz_invitation_link.png" style='display:inline;width:18px;margin-left:3px;margin-right:3px') 
            p(style='display:inline') in the upper-right corner on the channel page to get an invitation link for this channel, so that you can come back with your username and password.
            
            br
            br
            h3 Consent
            p#consent(style='white-space: pre-line') 
            //first version
            //form#agreeconsent(method='post', action="/login")
            //second version
            form#agreeconsent(method='post', action="/hall")
              input(type="checkbox" name='agreebox' required) 
              label I have read the consent form and agree to those conditions.
              input(name='username' type='hidden' value='#{user}') 
              input(name='password' type='hidden' value='#{password}') 
              br
            a(href='javascript:void(0);', onclick="document.getElementById('agreeconsent').submit();")
              button#agreehref Agree
