doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/vis/dist/vis.css")
        link(rel="stylesheet",href="/myassets/css/channel.css")
        script.
            var socket_url = "!{socket_url}";
            var messages = !{JSON.stringify(messages)};    
            var online   = !{JSON.stringify(online)};
            var queue    = !{JSON.stringify(queue)};
            var ids = {}
            var cur_id = 0;
            // set up ids dict for search ids visible to the user
            for(len=queue.length; cur_id<len; cur_id++)
                ids[queue[cur_id]._id] = cur_id;
            // stack used for back-button
            var seen     = []
            var bhistory  = []
            var fhistory = []
            var username = "!{user.name}";
            var channel  = !{JSON.stringify(channel)}; 
            // colours to be cycled through when assigning a colour to each user
            var colours   = ["#00a","#00f","#050","#055","#05a","#05f","#0a0","#0a5","#0aa","#0af","#0f0","#0f5","#0fa","#0ff","#500","#505","#50a","#50f","#550","#555","#55a","#55f","#5a0","#5a5","#5aa","#5af","#5f0","#5f5","#5fa","#5ff","#a00","#a05","#a0a","#a0f","#a50","#a55","#a5a","#a5f","#aa0","#aa5","#aaa","#aaf","#af0","#af5","#afa","#aff","#f00","#f05","#f0a","#f0f","#f50","#f55","#f5a","#f5f","#fa0","#fa5","#faa"]; 
            // cycle position
            var colour_pos = 0;
    body
        form(action="/channels",method="POST")#back-form
            input(type="hidden",name="username")
        nav.top-bar#navbar
            ul.title-area
                li.name
                    h1: a#channel-name !{channel.name}

            section.top-bar-section
                unless channel.chat_type == 'path'
                    ul.left
                        li
                            a#backward 
                                i.fa.fa-backward
                        li 
                            a(data-dropdown="new-msg-list",
                              data-options="is_hover:true; hover_timeout:5000")#mail
                                i.fa.fa-envelope
                                | &nbsp;
                                span#queue-length (!{queue.length})
                        li
                            a#forward 
                                i.fa.fa-forward
                //     li
                ul.right
                    li
                        a Chatting as: !{user.name}
                    li
                        a(href="#" data-reveal-id="help-modal")
                            i.fa.fa-question
                    li
                        a(href="#" id="toggle-tree")
                            | Hide Tree View
                    li
                        a(href='/') Logout

        ul#new-msg-list.f-dropdown(data-dropdown-content,
            style="height=200px;overflow-y:scroll;")


        #messages-column
            .progress.large-12.radius.success#progress-div
                span.meter#progress-bar(style="width:1%")
            //#selected-arrow
            //    i.fa.fa-arrow-right
            #messages-view
                //each msg in channel.top_lvl_messages
                //    - var cls = 'message '+(messages[msg].author===user.name ? 'message-user' : 'message-other')
                //    div(class=cls,id=msg)
                //            p !{messages[msg].content}
                //            .info 
                //                | !{messages[msg].author} | 
                //                a.reply
                //                    i.fa.fa-reply
                //                    |  Reply
                //                    span.rcnt  (!{messages[msg].children.length})

            #message-input
                #message-text
                    textarea#message(style="resize:none;",
                                     rows=3,
                                     placeholder="Type your message here...")
                #message-buttons
                    a.button.success.expand#message-send Send

        #view-column
            #chat-view
                h5(style='width:100%;text-align:center')
                    | Tree View
                #tree
                //#node-select
                //    p#content
                //    #actions
                //        a.button(style="vertical-align:middle;height:70px;")#view View

            #users-view
                h5(style='width:100%;text-align:center')
                    | Online Users
                ul(style='padding-left:20px;')#online-users

        // Help modal
        #help-modal.reveal-modal(data-reveal 
                                 aria-labelledby="help-title" 
                                 aria-hidden="true" 
                                 role="dialog")
            h2#help-title Welcome to EHIMS
                p 
                    | EHIMS (Encapsulated Hierarchical Instant Messaging System) is 
                    | is a tree-structred chat. Rather than in the traditional 
                    | chronological fashion, messages are organizied by which 
                    | message they are in response to.
                    br
                    | At all times there are two distinguished messages.
                    br
                    | The 
                    b hard focal
                    |  message is the message highlighted in the tree view, and the
                    | bottom of the large messages on the screen. When you send a
                    | message, you will be responding to the hard focal message.
                    br
                    | The 
                    b soft focal
                    |  message is the message with a small arrow to its left. This 
                    | arrow is used primarily for navigation of the chat. See the 
                    | keyboard shortcuts below for more information about how to
                    | navigate. 
                hr
                p Here are the naviagtion shortcuts:
                    ul#keybinding-help
                        li(key="Enter")
                            | If the message field is empty, the enter key will
                            | advance you to the next message. Otherwise, you may
                            | use the enter key to send yout message.
                        li(key="Up")
                            | The up key will move the soft focus arrow up
                            | on the screen.
                        li(key="Down")
                            | The down key will move the soft focus arrow down
                            | on the screen.
                        li(key="Left")
                            | The left key will make the parent of the current 
                            | soft focus node the hard focal node.
                        li(key="Right")
                            | The right key will make the current soft focus node
                            | the hard focal node.
                hr
                p Other useful hints:
                    ul
                        li Use the 
                            i.fa.fa-plus
                            |  and 
                            i.fa.fa-minus
                            |  to the left of a message to show/hide its replies.
                        li
                            | Click anywhere in the tree view to
                            | jump to a message.
                        li 
                            | The envolope on the top left will tell you how many
                            | messages there are in the chat that you haven't read.
                            | Click it to see the next message, or 
                            | hover over it to see a list unread messages
                            | and click on one to jump ahead.


                a.close-reveal-modal(aria-label="Close")  &#215;
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/socket.io-client/socket.io.js")
        script(src="/vis/dist/vis.js")
        script(src="/myassets/js/channel.js")
        script.
            $(document).foundation();


