doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/awesomplete/awesomplete.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script.
            var channels = !{JSON.stringify(channels)};
            var user = !{JSON.stringify(user)};
    body
        .row(style="margin-top:5%")
            .large-6.medium-6.columns.large-offset-3.medium-offset-3
                h3 Hi #{user.name}, join/create a channel
                form(action="/channel",method="POST")#channel-form
                    input#user(type="hidden",
                               name="username",
                               value="#{user.name}")
                    input#chat-type(type="hidden",name="ctype",value="tree")
                    .row
                        .large-9.columns
                            .row.collapse
                                .small-10.columns
                                    input#channel(type="text",
                                          placeholder="Channel...",
                                          name="channel")
                                .small-2.columns(style="text-align:center")
                                    button.postfix Join
                        .large-3.columns
                            a.button.secondary.right.tiny(href='#',data-reveal-id='advanced-modal') Advanced
                .reveal-modal#advanced-modal(data-reveal,aria-hidden="true",role="dialog")
                    form(action="/channel",method="POST")#advanced-channel-form
                        input#user(type="hidden",
                                name="username",
                                value="#{user.name}")
                        fieldset
                            legend Create a Channel
                            label 
                                | Channel Name
                                input(type="text",
                                    placeholder="Enter a channel name...",
                                    name="channel")
                            .row
                                .large-6.columns
                                    label Channel Type
                                    input#ctype-path(type='radio',
                                                    name='ctype',
                                                    value='path')
                                    label(for='ctype-path') Sequential
                                    input#ctype-tree(type='radio',
                                                    name='ctype',
                                                    checked,
                                                    value='tree')
                                    label(for='ctype-tree') Tree
                                    input#ctype-graph(type='radio',
                                                    name='ctype',
                                                    value='graph')
                                    label(for='ctype-graph') Graph
                                .large-6.columns
                                    button.right.small Go

                    a.close-reveal-modal &#215; 
                hr
                h4  Or choose from a previously joined channel
                ul.side-nav
                    each channel in user.channels
                        li: h6
                            div
                                a(onclick="open_channel('#{channel.name}', '#{channel.chat_type}')"
                                style="float:left;")
                                    | #{channel.name} 
                                a(href="/download?channel=#{channel.id}"
                                    target="_blank") 
                                    i.fa.fa-arrow-circle-down
                            
        script(src="/awesomplete/awesomplete.min.js")
        script.
            $(document).foundation();
            var channel_input = document.getElementById("channel");
            new Awesomplete(channel_input,{
                list : user.channels.map(function(item){item.name})
                });
                var open_channel = function(channel, chat_type){
                    $('#channel').val(channel);
                    $('#chat-type').val(chat_type);
                    $('#channel-form').submit();
                }


