doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/vis/dist/vis.css")
        link(rel="stylesheet",href="/myassets/css/channel.css")
        script.
            var help_popup = !{help_popup};
            var socket_url = "!{socket_url}";
            var messages = !{JSON.stringify(messages)};    
            var online   = !{JSON.stringify(online)};
            var queue    = !{JSON.stringify(queue)};
            var ids = {}
            var dbid_to_userid = {}
            var cur_id = 0;
            // set up ids dict for search ids visible to the user
            for(len=queue.length; cur_id<len; cur_id++) {
                ids[queue[cur_id]._id] = cur_id;
                dbid_to_userid[cur_id] = queue[cur_id]._id;
            }
            // stack used for back-button
            var seen     = []
            var bhistory  = []
            var fhistory = []
            var username = "!{user.name}";
            var channel  = !{JSON.stringify(channel)}; 
            // colours to be cycled through when assigning a colour to each user
            var colours   = ["#00a","#00f","#050","#055","#05a","#05f","#0a0","#0a5","#0aa","#0af","#0f0","#0f5","#0fa","#0ff","#500","#505","#50a","#50f","#550","#555","#55a","#55f","#5a0","#5a5","#5aa","#5af","#5f0","#5f5","#5fa","#5ff","#a00","#a05","#a0a","#a0f","#a50","#a55","#a5a","#a5f","#aa0","#aa5","#aaa","#aaf","#af0","#af5","#afa","#aff","#f00","#f05","#f0a","#f0f","#f50","#f55","#f5a","#f5f","#fa0","#fa5","#faa"]; 
            // cycle position
            var colour_pos = 0;
    body
        - var trim_name = function(n) { var l = {'path': ' (Sequential)'.length, 'tree': ' (Tree)'.length, 'graph': ' (Graph)'.length}[channel.chat_type]; return n.substr(0, n.length - l);}
        nav.top-bar#navbar
            ul.title-area
                li.name
                    h1: a#channel-name #{trim_name(channel.name)}

            section.top-bar-section
                unless channel.chat_type == 'path'
                    ul.left
                        li
                            a#backward 
                                i.fa.fa-backward
                        li 
                            a(data-dropdown="new-msg-list",
                              data-options="is_hover:true; hover_timeout:5000")#mail
                                i.fa.fa-envelope
                                | &nbsp;
                                span#queue-length (!{queue.length})
                        li
                            a#forward 
                                i.fa.fa-forward
                //     li
                ul.right
                    li 
                        a(data-dropdown="online-users-list",
                          data-options="is_hover:true; hover_timeout:5000")#online-users
                            | Online &nbsp;
                            span#num-online (!{channel.online_users.length})
                    li
                        a Chatting as: !{user.name}
                    li#bookmark-list
                        a(href='#' data-reveal-id='bookmark-modal')
                            i.fa.fa-bookmark
                    li#likes-ranking
                        a(href='#' data-reveal-id="ranking-modal")
                            i.fa.fa-line-chart
                    li
                        a(href="#" data-reveal-id="help-modal")
                            i.fa.fa-question
                    // unless channel.chat_type == 'path'
                        li
                            a(href="#" id="toggle-tree")
                                | Hide Tree View
                    li
                        a(href='#' data-reveal-id="invite-modal" id='invite-button')
                            i.fa.fa-plus-circle
                    li
                        a(href='javascript:void(0);', onclick="document.getElementById('back-home-form').submit();") Home
                        //a#back-home Home
                        form#back-home-form(method='post', action="/back_channels")
                            input#back-home(type='hidden', name='username')

                    li
                        a(href='/') Logout

        ul#new-msg-list.f-dropdown(data-dropdown-content,
            style="height=200px;overflow-y:scroll;")

        ul#online-users-list.f-dropdown(data-dropdown-content,
            style="height=200px;overflow-y:scroll;")


        #messages-column
            .progress.large-12.radius.success#progress-div
                span.meter#progress-bar(style="width:1%")
            //#selected-arrow
            //    i.fa.fa-arrow-right
            #messages-view
                //each msg in channel.top_lvl_messages
                //    - var cls = 'message '+(messages[msg].author===user.name ? 'message-user' : 'message-other')
                //    div(class=cls,id=msg)
                //            p !{messages[msg].content}
                //            .info 
                //                | !{messages[msg].author} | 
                //                a.reply
                //                    i.fa.fa-reply
                //                    |  Reply
                //                    span.rcnt  (!{messages[msg].children.length})

            #message-input
                #message-text
                    textarea#message(style="resize:none;",
                                     rows=3,
                                     placeholder="Type your message here...")
                #message-buttons
                    a.button.success.expand#message-send Send

        #view-column
            if channel.chat_type == "path"
                include side_columns/path
            if channel.chat_type == "tree"
                include side_columns/tree
            if channel.chat_type == "graph"
                include side_columns/graph
            //ul.tabs(data-tab)#tabs-list
                li.tab-title.active
                    a(href='#online') Online Users
                if channel.chat_type == 'graph'
                    li.tab-title
                        a(href='#parents') Merge Ideas
                        // formerly "Add Parents"
                unless channel.chat_type == 'path'
                    li.tab-title
                        a(href='#treeview') Tree View

            //.tabs-content
                .content.active#online
                    .tab
                        //h5(style='width:100%;text-align:center')
                            | Online Users
                        ul(style='padding-left:20px;')#online-users
                .content#treeview
                    .tab
                        //h5(style='width:100%;text-align:center')
                            | Tree View
                        #tree
                .content#parents
                    .tab
                        //h5(style='width:100%;text-align:center')
                            | Add a parent
                        #parent-view
                            form#other-parent
                                .row.collapse
                                    .small-9.columns
                                        input#extra-parent(type='text',
                                            placeholder="Message ID",
                                            name="message")
                                    .small-3.columns
                                        button.postfix Add
                            ul#other-parents


        // modal
        #help-modal.reveal-modal(data-reveal 
                                 aria-labelledby="help-title" 
                                 aria-hidden="true" 
                                 role="dialog")
            if channel.chat_type == "path"
                include help_popup/path_help
            if channel.chat_type == "tree"
                include help_popup/tree_help
            if channel.chat_type == "graph"
                include help_popup/graph_help
        #bookmark-modal.reveal-modal(data-reveal 
                                 aria-hidden="true" 
                                 aria-labelledby="list-title" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 Bookmarked Messages
                label(class="container") Display all parents   
                    input(type='checkbox', checked='checked', id="list-layout")
                #bookmarked-list-parent
                #bookmarked-list
                #list-back
                a.close-reveal-modal(aria-label="Close")  &#215;
        #ranking-modal.reveal-modal(data-reveal 
                                 aria-labelledby="ranking-title" 
                                 aria-hidden="true" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 Ranking of Likes
                label(class="container") Display all parents   
                    input(type='checkbox', checked='checked', id="ranking-layout")
                #msg-likes-ranking-parent
                #msg-likes-ranking 
                #ranking-back
                a.close-reveal-modal(aria-label="Close")  &#215;
        #invite-modal.reveal-modal.small(data-reveal 
                                 aria-hidden="true" 
                                 role="dialog")
            //h6.subheader Channel ID:
            //p
                span#invite-link #{channel._id}
            h3#help-title Invite Someone
                .row
                    .large-12.columns
                        form#invite-form(action="/makeinvite",method="POST")
                            fieldset
                                legend Create an Invite

                                label Channel ID
                                    br
                                    span 
                                    span #{channel._id}
                                        
                                br
                                label Username
                                    input#invite-username(type="text",
                                        required
                                        placeholder="Username")
                                    p#error 
                                //label Password
                                    input#invite-password(type="text",
                                        required
                                        placeholder="Password")
                                button#gen-link Generate Link
                    .large-12.columns
                        h6.subheader Link: 
                        div(style="postition:relative;width:90%;white-space:nowrap;overflow-x:scroll")
                            p
                                span 
                                    a#invite-link
                                    //#{channel._id}
            a.close-reveal-modal(aria-label="Close")  &#215;
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/socket.io-client/socket.io.js")
        script(src="/vis/dist/vis.js")
        script(src="/myassets/js/channel.js")
        script.
            $(document).foundation();




