doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/vis/dist/vis.css")
        link(rel="stylesheet",href="/myassets/css/channel.css")
        script.
            var socket_url = "!{socket_url}";
            var messages = !{JSON.stringify(messages)};    
            var online   = !{JSON.stringify(online)};
            var queue    = !{JSON.stringify(queue)};
            var username = "!{user.name}";
            var channel  = !{JSON.stringify(channel)}; 
            var cur_root = null; // this variable stores the parent to the
                                 // current encapsulated chat
    body
        nav.top-bar#navbar
            ul.title-area
                li.name
                    h1: a#channel-name !{channel.name}

            section.top-bar-section
                ul.left
                    li
                        a#back-arrow 
                            i.fa.fa-arrow-left
                    li 
                        a#mail
                            i.fa.fa-envelope
                            | &nbsp;
                            span#queue-length (!{queue.length})
                ul.right
                    li
                        a Chatting as: !{user.name}
                    li
                        a(href='/') Logout

        #messages-column
            #messages-view
                //each msg in channel.top_lvl_messages
                //    - var cls = 'message '+(messages[msg].author===user.name ? 'message-user' : 'message-other')
                //    div(class=cls,id=msg)
                //            p !{messages[msg].content}
                //            .info 
                //                | !{messages[msg].author} | 
                //                a.reply
                //                    i.fa.fa-reply
                //                    |  Reply
                //                    span.rcnt  (!{messages[msg].children.length})

            #message-input
                #message-text
                    textarea#message(style="resize:none;",
                                     rows=3,
                                     placeholder="Type your message here...")
                #message-buttons
                    a.button.success.expand#message-send Send

        #view-column
            #chat-view
                h5(style='width:100%;text-align:center')
                    | Tree View
                #tree
                #node-select
                    p#content
                    #actions
                        a.button(style="vertical-align:middle;height:70px;")#view View

            #users-view
                h5(style='width:100%;text-align:center')
                    | Online Users
                ul(style='padding-left:20px;')#online-users
                    each user in online
                        li !{user}

        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.min.js")
        script(src="/socket.io-client/socket.io.js")
        script(src="/vis/dist/vis.js")
        script(src="/myassets/js/channel.js")
        script.
            $(document).foundation();


