doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/vis/dist/vis.css")
        link(rel="stylesheet",href="/myassets/css/channel.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/foundation/js/foundation/foundation.orbit.js")
        script(src="/socket.io-client/socket.io.js")
        script(src="/vis/dist/vis.js")
        script.
            var help_popup = !{help_popup};
            var guidance_popup = !{guidance_popup};
            var socket_url = "!{socket_url}";
            var messages = !{JSON.stringify(messages)};    
            var participants   = !{JSON.stringify(participants)};
            var queue    = !{JSON.stringify(queue)};
            var STARTTIME    = !{JSON.stringify(STARTTIME)};
            var ids = {}
            var dbid_to_userid = {}
            var cur_id = 0;
            // set up ids dict for search ids visible to the user
            for(len=queue.length; cur_id<len; cur_id++) {
                ids[queue[cur_id]._id] = cur_id;
                dbid_to_userid[cur_id] = queue[cur_id]._id;
            }
            // stack used for back-button
            var seen     = []
            var bhistory  = []
            var fhistory = []
            var username = "!{user.name}";
            var channel  = !{JSON.stringify(channel)}; 
            // colours to be cycled through when assigning a colour to each user
            var colours   = ["#bd5734", "#d64161", "#ff7b25", "#6b5b95", "#878f99", "#86af49", "#405d27", "#3e4444", "#034f84", "#f7786b", "#c94c4c", "#50394c", "#b2b2b2", "#bc5a45", "#618685", "#36486b", "#4040a1", "#563f46", "#838060", "#686256", "#a96e5b", "#7a3b2e"]; 
    body(style='position:absolute;top:0;width:100%;overflow-y:hidden')
        - var trim_name = function(n) { var l = {'path': ' (Sequential)'.length, 'tree': ' (Tree)'.length, 'graph': ' (Graph)'.length}[channel.chat_type]; return n.substr(0, n.length - l);}
        div.row
            nav.top-bar#navbar(style='position: absolute; width:100%;left:0px;display:block')
                ul.title-area
                    li.name
                        h1: a#channel-name #{trim_name(channel.name)}

                section.top-bar-section
                    unless channel.chat_type == 'path'
                        ul.left
                            li
                                a#backward 
                                    i.fa.fa-backward
                            li 
                                a(data-dropdown="new-msg-list",
                                  data-options="is_hover:true; hover_timeout:3000")#mail
                                    i.fa.fa-envelope
                                    | &nbsp;
                                    span#queue-length (!{queue.length})
                            li
                                a#forward 
                                    i.fa.fa-forward
                    ul.right
                        li 
                            a(data-dropdown="online-users-list",
                              data-options="is_hover:true; hover_timeout:3000")#online-users
                                | Participants &nbsp;
                                span#num-online 
                        li
                            a Chat as: !{user.name}
                        li#search-list
                            a(href='#' data-reveal-id='search-modal')
                                i.fa.fa-search.fa-lg
                        li#bookmark-list
                            a(href='#' data-reveal-id='bookmark-modal')
                                i.fa.fa-bookmark.fa-lg
                        li#likes-ranking
                            a(href='#' data-reveal-id="ranking-modal")
                                i.fa.fa-thumbs-up.fa-lg
                        if channel.chat_type != 'path'
                            li#sequential
                                a(href='#' data-reveal-id="sequential-modal")
                                    i.fa.fa-list.fa-lg
                        li
                            a(href="#" data-reveal-id="guidance-modal")
                                i.fa.fa-question.fa-lg
                        // unless channel.chat_type == 'path'
                            li
                                a(href="#" id="toggle-tree")
                                    | Hide Tree View
                        li
                            a(href='#' data-reveal-id="invite-modal" id='invite-button')
                                i.fa.fa-plus-circle.fa-lg
                        if channel.chat_type != 'path'
                            li
                                a#modify-control-btn(data-dropdown="modification-mode-list",
                                data-options="is_hover:true; hover_timeout:3000")
                                    | Modify (beta)
                        if channel.type == 'routine'
                            li
                                a(href='javascript:void(0);', onclick="document.getElementById('back-home-form').submit();") Home
                                form#back-home-form(method='post', action="/back_channels")
                                    input#back-home(type='hidden' name='username')

                        li
                            a(href="#" data-reveal-id="logout-modal") Logout

            ul#new-msg-list.f-dropdown(data-dropdown-content,
                style="height=200px;overflow-y:scroll;")

            ul#online-users-list.f-dropdown(data-dropdown-content,
                style="height=200px;overflow-y:scroll;")

            ul#modification-mode-list.f-dropdown(data-dropdown-content,
                style="height=200px;overflow-y:scroll;")
                li#edit-context Edit context
                li#modify-button Modify hierachy

        div#waiting_page
            h3
        div.row
            div.columns#messages-column
                .progress.large-12.radius.success#progress-div
                    span.meter#progress-bar(style="width:1%")
                //#selected-arrow
                //    i.fa.fa-arrow-right
                #messages-view
                    //each msg in channel.top_lvl_messages
                    //    - var cls = 'message '+(messages[msg].author===user.name ? 'message-user' : 'message-other')
                    //    div(class=cls,id=msg)
                    //            p !{messages[msg].content}
                    //            .info 
                    //                | !{messages[msg].author} | 
                    //                a.reply
                    //                    i.fa.fa-reply
                    //                    |  Reply
                    //                    span.rcnt  (!{messages[msg].children.length})

                #message-input
                    #message-text
                        textarea#message(style="resize:none;",
                                         rows=3,
                                         placeholder="Type your message here...")
                    #message-buttons
                        a.button.success.expand#message-send Send
                        .urgencybox
                            input#urgencybox(type='checkbox')  
                            label Urgency

            #view-column.columns
                if channel.chat_type == "path"
                    include side_columns/path
                if channel.chat_type == "tree"
                    include side_columns/tree
                if channel.chat_type == "graph"
                    include side_columns/graph
                //ul.tabs(data-tab)#tabs-list
                    li.tab-title.active
                        a(href='#online') Online Users
                    if channel.chat_type == 'graph'
                        li.tab-title
                            a(href='#parents') Merge Ideas
                            // formerly "Add Parents"
                    unless channel.chat_type == 'path'
                        li.tab-title
                            a(href='#treeview') Tree View

                //.tabs-content
                    .content.active#online
                        .tab
                            //h5(style='width:100%;text-align:center')
                                | Online Users
                            ul(style='padding-left:20px;')#online-users
                    .content#treeview
                        .tab
                            //h5(style='width:100%;text-align:center')
                                | Tree View
                            #tree
                    .content#parents(style='padding:15px')
                        .tab
                            //h5(style='width:100%;text-align:center')
                                | Add a parent
                            #parent-view
                                form#other-parent
                                    div(style='width: 95%;left: 15px;position: relative; right: 15px' class='collapse row')
                                        .small-9.columns
                                            input#extra-parent(type='text',
                                                placeholder="Message ID",
                                                name="message" )
                                        .small-3.columns
                                            button.postfix Add
                                ul#other-parents


        // modal
        #guidance-modal.reveal-modal(data-reveal 
                                 aria-labelledby="guidance-title" 
                                 aria-hidden="true" 
                                 role="dialog"
                                 style="height:85%")
            h2 User Guide
            ul(data-orbit style='height:100%' data-options="navigation_arrows: true;slide_number: true; slide_number_text: of; circular: false; timer: false; bullets:false;")
                li
                    img(src='myassets/img/0welcome.png', alt='welcome to EHIMS')
                li
                    img(src='myassets/img/1messages.png', alt='messages hierarchy')
                li
                    img(src='myassets/img/2tree-view.png', alt='tree views')
                if channel.chat_type == 'graph'
                    li
                        img(src='myassets/img/3merge-ideas.png', alt='merged ideas')
                li
                    img(src='myassets/img/4top-right.png', alt='navigation')
                if channel.type == 'in progress'
                    li
                        img(src='myassets/img/5modification-exp.png', alt='modification')
                else
                    li
                        img(src='myassets/img/5modification-normal.png', alt='modification')
                if channel.chat_type != 'path'
                    li
                        img(src='myassets/img/6modification-tree.png', alt='tree modification')
            a.close-reveal-modal(aria-label="Close")  &#215;

        #user-modal.reveal-modal(data-reveal 
                                 aria-labelledby="user-title" 
                                 aria-hidden="true" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 User Messages
            br
            #modal-msg
            a.close-reveal-modal(aria-label="Close")  &#215;
        #help-modal.reveal-modal(data-reveal 
                                 aria-labelledby="help-title" 
                                 aria-hidden="true" 
                                 role="dialog")
            if channel.chat_type == "path"
                include help_popup/path_help
            if channel.chat_type == "tree"
                include help_popup/tree_help
            if channel.chat_type == "graph"
                include help_popup/graph_help
        #search-modal.reveal-modal(data-reveal 
                                 aria-hidden="true" 
                                 aria-labelledby="research-title" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 Search Messages
            br
            div(style='display:block')
                select#field-dropdown
                    option(value='ID') ID
                    option(value='author') author
                    option(value='content' selected) content
                input#search-context.input-group-field(type='text' placeholder='Search..')
                button#search-submit.button.tiny(value='Search') Search
            #modal-msg
            a.close-reveal-modal(aria-label="Close")  &#215;
        #bookmark-modal.reveal-modal(data-reveal 
                                 aria-hidden="true" 
                                 aria-labelledby="list-title" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 Bookmarked Messages
            br
            #modal-msg
            a.close-reveal-modal(aria-label="Close")  &#215;
        #ranking-modal.reveal-modal(data-reveal 
                                 aria-labelledby="ranking-title" 
                                 aria-hidden="true" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 Ranking of Likes
            br
            #modal-msg
            a.close-reveal-modal(aria-label="Close")  &#215;
        #sequential-modal.reveal-modal(data-reveal 
                                 aria-labelledby="sequential-title" 
                                 aria-hidden="true" 
                                 role="dialog"
                                 style="overflow-y:scroll")
            h2 Sequential Mode
            br
            #modal-msg
            a.close-reveal-modal(aria-label="Close")  &#215;
        #invite-modal.reveal-modal.small(data-reveal 
                                 aria-hidden="true" 
                                 role="dialog")
            //h6.subheader Channel ID:
            //p
                span#invite-link #{channel._id}
            h3#help-title Invite Someone
                .row
                    .large-12.columns
                        form#invite-form(action="/makeinvite",method="POST")
                            fieldset
                                legend Create an Invite

                                label 
                                    b Channel ID:
                                    br
                                    span 
                                    span #{channel._id}
                                br
                                label
                                    b Invitation Link:
                                    br
                                    span
                                    a#invite-link
            a.close-reveal-modal(aria-label="Close")  &#215;
        #logout-modal.reveal-modal.small(data-reveal 
                                 aria-hidden="true" 
                                 role="dialog")
            h3 
                .row
                    .large-12.columns
                        form#name-form(method='POST' action='/postsurvey')
                            input#name-form-input(type='hidden' name='username')
                            input#name-form-input1(type='hidden' name='channel')
                        fieldset
                            legend Logout
                            p Are you sure to logout?
                            if channel.type == "in progress"
                                a#logout-yes(onclick="document.getElementById('name-form').submit()" style='position:relative;display:inline-block;margin-left:20%;float:left')
                                    button Yes
                            else
                                a#logout-yes(href='/' style='position:relative;display:inline-block;margin-left:20%;float:left')
                                    button Yes
                            a#logout-close(aria-label="Close" style='position:relative;display:inline-block;float:left;margin-left:15%')
                                button  No 
            a.close-reveal-modal(aria-label="Close")  &#215;
        script(src="/myassets/js/channel.js")
        script.
            $(document).foundation();




