doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/vis/dist/vis.css")
        link(rel="stylesheet",href="/myassets/css/channel.css")
        script.
            var help_popup = !{help_popup};
            var socket_url = "!{socket_url}";
            var messages = !{JSON.stringify(messages)};    
            var online   = !{JSON.stringify(online)};
            var queue    = !{JSON.stringify(queue)};
            var ids = {}
            var dbid_to_userid = {}
            var cur_id = 0;
            // set up ids dict for search ids visible to the user
            for(len=queue.length; cur_id<len; cur_id++) {
                ids[queue[cur_id]._id] = cur_id;
                dbid_to_userid[cur_id] = queue[cur_id]._id;
            }
            // stack used for back-button
            var seen     = []
            var bhistory  = []
            var fhistory = []
            var username = "!{user.name}";
            var channel  = !{JSON.stringify(channel)}; 
            // colours to be cycled through when assigning a colour to each user
            var colours   = ["#00a","#00f","#050","#055","#05a","#05f","#0a0","#0a5","#0aa","#0af","#0f0","#0f5","#0fa","#0ff","#500","#505","#50a","#50f","#550","#555","#55a","#55f","#5a0","#5a5","#5aa","#5af","#5f0","#5f5","#5fa","#5ff","#a00","#a05","#a0a","#a0f","#a50","#a55","#a5a","#a5f","#aa0","#aa5","#aaa","#aaf","#af0","#af5","#afa","#aff","#f00","#f05","#f0a","#f0f","#f50","#f55","#f5a","#f5f","#fa0","#fa5","#faa"]; 
            // cycle position
            var colour_pos = 0;
    body
        form(action="/channels",method="POST")#back-form
            input(type="hidden",name="username")
        nav.top-bar#navbar
            ul.title-area
                li.name
                    h1: a#channel-name !{channel.name}

            section.top-bar-section
                unless channel.chat_type == 'path'
                    ul.left
                        li
                            a#backward 
                                i.fa.fa-backward
                        li 
                            a(data-dropdown="new-msg-list",
                              data-options="is_hover:true; hover_timeout:5000")#mail
                                i.fa.fa-envelope
                                | &nbsp;
                                span#queue-length (!{queue.length})
                        li
                            a#forward 
                                i.fa.fa-forward
                //     li
                ul.right
                    li
                        a Chatting as: !{user.name}
                    if help_popup
                        li
                            a(href="#" data-reveal-id="help-modal")
                                i.fa.fa-question
                    // unless channel.chat_type == 'path'
                        li
                            a(href="#" id="toggle-tree")
                                | Hide Tree View
                    li
                        a(href='#' data-reveal-id="invite-modal")
                            i.fa.fa-plus-circle
                    li
                        a(href='/') Logout

        ul#new-msg-list.f-dropdown(data-dropdown-content,
            style="height=200px;overflow-y:scroll;")


        #messages-column
            .progress.large-12.radius.success#progress-div
                span.meter#progress-bar(style="width:1%")
            //#selected-arrow
            //    i.fa.fa-arrow-right
            #messages-view
                //each msg in channel.top_lvl_messages
                //    - var cls = 'message '+(messages[msg].author===user.name ? 'message-user' : 'message-other')
                //    div(class=cls,id=msg)
                //            p !{messages[msg].content}
                //            .info 
                //                | !{messages[msg].author} | 
                //                a.reply
                //                    i.fa.fa-reply
                //                    |  Reply
                //                    span.rcnt  (!{messages[msg].children.length})

            #message-input
                #message-text
                    textarea#message(style="resize:none;",
                                     rows=3,
                                     placeholder="Type your message here...")
                #message-buttons
                    a.button.success.expand#message-send Send

        #view-column
            ul.tabs(data-tab)#tabs-list
                li.tab-title.active
                    a(href='#online') Online Users
                if channel.chat_type == 'graph'
                    li.tab-title
                        a(href='#parents') Add Parents
                unless channel.chat_type == 'path'
                    li.tab-title
                        a(href='#treeview') Tree View
            .tabs-content
                .content.active#online
                    .tab
                        //h5(style='width:100%;text-align:center')
                            | Online Users
                        ul(style='padding-left:20px;')#online-users
                .content#treeview
                    .tab
                        //h5(style='width:100%;text-align:center')
                            | Tree View
                        #tree
                .content#parents
                    .tab
                        //h5(style='width:100%;text-align:center')
                            | Add a parent
                        #parent-view
                            form#other-parent
                                .row.collapse
                                    .small-9.columns
                                        input#extra-parent(type='text',
                                            placeholder="Message ID",
                                            name="message")
                                    .small-3.columns
                                        button.postfix Add
                            ul#other-parents



        // Help modal
        #help-modal.reveal-modal(data-reveal 
                                 aria-labelledby="help-title" 
                                 aria-hidden="true" 
                                 role="dialog")
            if ctype == "path"
                include path_help
            if ctype == "tree"
                include tree_help
            if ctype == "graph"
                include graph_help
        #invite-modal.reveal-modal.small(data-reveal 
                                 aria-hidden="true" 
                                 role="dialog")
            h3#help-title Invite Someone
                .row
                    .large-12.columns
                        form#invite-form
                            fieldset
                                legend Create an Invite

                                label Username
                                    input#invite-username(type="text",
                                        required
                                        placeholder="Username")
                                label Password
                                    input#invite-password(type="text",
                                        required
                                        placeholder="Password")
                                button#gen-link Generate Link
                    .large-12.columns
                        h6.subheader Link: 
                        div(style="postition:relative;width:90%;white-space:nowrap;overflow-x:scroll")
                            p
                                span#invite-link
                a.close-reveal-modal(aria-label="Close")  &#215;
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/socket.io-client/socket.io.js")
        script(src="/vis/dist/vis.js")
        script(src="/myassets/js/channel.js")
        script.
            $(document).foundation();


