doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/admin.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/myassets/js/consent_normal_user.js")
        script.
            var consent_normal_user = "!{JSON.stringify(consent)}";
            var channel_id = "!{channel_id}";
            var invite = "!{invite}";
            var checked = false;
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h2 Welcome to EHIMS
        .row
            br
        .row
            h3 Consent
            br
            p#consent-normal-user(style='white-space: pre-line')
            form#agreeconsent(method='post', action="/signup")
              input.input-group-field(type="hidden",value="#{channel_id}", name="channel_id")
              input.input-group-field(type="hidden", value="#{invite}", name="invite")
              input(type="checkbox" required name='agreebox') 
              label I have read the consent form and agree to those conditions.
              br
            a(href='javascript:void(0);', onclick="document.getElementById('agreeconsent').submit();")
              button#agreehref Agree
