doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.min.js")
    body
        .row.text-center(style="margin-top:10%;")
            .large-4.medium-4.columns.large-offset-4.medium-offset-4
                .panel
                    h3 Welcome to EHIMS
                    p Forgot your password?
                    p(style='font-size:0.8rem') We will email instructions on how to reset your password.
                    form(action="forgot_password",method="POST")
                        .input-group
                            if message
                                input.input-group-field(type="text",
                                                    required
                                                    placeholder="Username",
                                                    name="username")
                                small.error(style='position:relative; top:-15px;') #{message}
                            else
                                input.input-group-field(type="text",
                                                    required
                                                    placeholder="Username",
                                                    name="username")
                            br
                            button.input-group-button.button Reset Password



