doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.min.js")

    body
        .row.text-center(style="margin-top:10%;")
            .large-4.medium-4.columns.large-offset-4.medium-offset-4
                .panel
                    h3 Welcome to EHIMS
                    p Please enter your username
                    form(action="invite",method="POST")
                        .input-group
                            input(type="hidden", name="invite", value="#{invite}")
                            input(type="hidden", name="channel", value="#{channel}")
                            input.input-group-field(type="text",
                                                    required
                                                    placeholder="Username",
                                                    name="username")
                            if message
                                input.input-group-field(type="password",
                                                        required
                                                        placeholder="Password",
                                                        class="error"
                                                        name="pass")
                                small.error #{message}
                            else
                                input.input-group-field(type="password",
                                                        required
                                                        placeholder="Password",
                                                        name="pass")
                            button.input-group-button.button Log In

