doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/survey.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/myassets/js/survey.js")
        script.
            var username = "!{username}";
            var channel = "!{channel}";
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h1 Post Survey
        .row
            br
            form(method='post', action="/submit_postsurvey")
                .input-group
                    input.input-group-field(type="hidden",
                        name="username",
                        value="#{username}")
                    input.input-group-field(type="hidden",
                        name="channel",
                        value="#{channel}")

                    // template for radio button (single choice)
                    div.row
                        div.columns.large-8
                            p 2. Question2 Question2 Question2 Question2 Question2 Question2 Question2 Question2 Question2 Question2 Question2 
                        div.columns.large-4
                            input.input-group-field(type="radio", required, name="Q2" value="male")
                            label Male
                            input.input-group-field(type="radio", name="Q2" value="female")
                            label Female
                            input.input-group-field(type="radio", name="Q2" value="others")
                            label Others

                    // template for checkbox (multiple choice)
                    div.row
                        div.columns.large-8
                            p 3. Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 Question3 
                        div.columns.large-4.checkbox
                            input.input-group-field(type="checkbox", name="Q3.1" value="morning")
                            label Morning
                            input.input-group-field(type="checkbox", name="Q3.2" value="evening")
                            label Evening
                            input.input-group-field(type="checkbox", name="Q3.3" value="noon")
                            label Noon

                    // template for select boxes
                    div.row
                        div.columns.large-8
                            p 4. Question4 Question4 Question4 Question4 Question4 Question4 Question4 Question4 Question4 Question4 Question4 Question4 Question4 
                        div.columns.large-4
                            select(name="Q4", label="label4", require)
                                option(value="hotdog") Hotdog
                                option(value="sandwich") Sandwich

                    // star ranking
                    div.row
                        div.columns.large-8
                            p 5. Question5 Question5 Question5 Question5 Question5 Question5 Question5 Question5 Question5 Question5 Question5 
                        div.columns.large-4
                            input.input-group-field.star_ranking(type="hidden", name="Q5", style='font-size: 1rem;')
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            span.fa.fa-circle-o.fa-xs
                            br
                            span.number 1
                            span.number 2
                            span.number 3
                            span.number 4
                            span.number 5
                            span.number 6
                            span.number 7
                            span.number 8
                            span.number 9
                            span.number 10

                    // template for open questions
                    p 1. Question1 Question1 Question1 Question1 Question1 Question1 Question1 Question1 Question1 Question1 Question1 Question1 Question1 
                    input.input-group-field(type="text", required, name="Q1")

                button#postsurvey-submit.input-group-button.button Submit
