doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/admin.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/myassets/js/admin.js")
        script.
            var postsurvey = !{JSON.stringify(postsurvey)};
            var username = "!{username}";
            var channel = "!{channel}";
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h1 Post Survey
        .row
            br
            form#presurvey(method='post', action="/submit_postsurvey")
                .input-group
                  input.input-group-field(type="hidden",
                        name="username",
                        value="#{username}")
                  input.input-group-field(type="hidden",
                        name="channel",
                        value="#{channel}")
                  each question, index in postsurvey
                    p #{index+1}. #{question}
                    input.input-group-field(type="text",
                        required
                        name="question#{index+1}")
                  button.input-group-button.button Submit
