doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.min.js")
    body
        .row.text-center(style="margin-top:10%;")
            .large-4.medium-4.columns.large-offset-4.medium-offset-4
                .panel
                    h3 Welcome to EHIMS
                    p Reset your password.
                    form(action="reset",method="POST")
                        .input-group
                            input.input-group-field(type="text",
                                                    style='display:none',
                                                    value="#{name}",
                                                    name="username")
                            input.input-group-field(type="password",
                                                    required
                                                    placeholder="New Password",
                                                    name="password")
                            if message
                                small.error(style='position:relative; top:-15px') #{message}
                            button.input-group-button.button Reset Password



