doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.min.js")
    body
        .row.text-center(style="margin-top:10%;")
            .large-4.medium-4.columns.large-offset-4.medium-offset-4
                .panel
                    h3 Welcome to EHIMS
                    p Please enter your username
                    form(action="channels",method="POST")
                        .input-group
                            input.input-group-field(type="text",
                                                    style='display:none',
                                                    value="#{channel}",
                                                    name="channel_id")
                            input.input-group-field(type="text",
                                                    style='display:none',
                                                    value="#{invite}",
                                                    name="invite")
                            if username
                                input.input-group-field(type="text",
                                                    required
                                                    placeholder="#{username}",
                                                    value="#{username}",
                                                    name="username")
                            else
                                input.input-group-field(type="text",
                                                    required
                                                    placeholder="Username",
                                                    name="username")

                            if message
                                input.input-group-field(type="password",
                                                        required
                                                        placeholder="Password",
                                                        class="error"
                                                        name="password")
                                small.error #{message}
                            else
                                input.input-group-field(type="password",
                                                        required
                                                        placeholder="Password",
                                                        name="password")
                            a#forgot-pass(href='/forgot_password' style='font-size:0.8222rem;margin:0;text-align: right;display:block') Forgot password?
                            br
                            button.input-group-button.button Log In
                    p Need an account? 
                        a(href='/signup') Sign up



